@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: poppins;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: roboto;
  }
}

@layer components{
.size-selector input:checked + label{
  @apply bg-primary text-white
}
.color-selecter input:checked + label{
  @apply ring-2 ring-primary
}
.input-box{
  @apply block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded placeholder-gray-500 focus:border-primary focus:ring-0
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.checkout-steps>div {
  border-top: 0.3rem #c0c0c0 solid;
color: #c0c0c0;
flex: 1;
padding: 1rem
}
.checkout-steps>div.active {
  border-top-color: #f08000;
  color: #f08000;
}
}
